@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
:root{
    --pink:#ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515c65;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
@font-face {
    font-family: 'Material-Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  *::before, *::after{
      padding: 0;
      margin: 0;
  }

  body{
      display:flex;
      align-items:center;
      justify-content:center;
      min-height:100vh;
      background: linear-gradient(3deg, var(--pink), #b970a3);
  }

  .wrapper{
      width:380px;
      background:var(--white);
      border-radius:15px;
      padding: 25px 30px;
      box-shadow:0px 6px 15px var(--lightbshadow);
      position:relative;
      overflow: hidden;
  }
  .wrapper i{
      cursor: pointer;
  }
  .top-bar, 
  .progress-area .timer, 
  .controls, 
  .music-list li, 
  .music-list .header{
      display:flex;
      align-items: center;
      justify-content: space-between;
  }
  .top-bar i{
      font-size:30px;
      color: var(--lightblack);
  }
  .img-area{
      height:256px;
      width:100%;
      border-radius:15px;
      box-shadow:0 6px 10px var(--lightbshadow);
      overflow:hidden;
      margin: 15px 0;
  }
  .img-area img{
      width:100%;
      height: 100%;
      object-fit: cover;
  }
  .song-details{
      text-align:center;
      margin:20px 0;
      color:var(--lightblack);
  }
  .song-details .name{
      font-size:21px;
  }
  .song-details .artist{
      opacity:.9;
      font-size:18px;
  }
  .progress-area{
      height:6px;
      width:100%;
      border-radius:50px;
      background:#f0f0f0;
      cursor:pointer;
  }
  .progress-area .progress-bar{
      height:inherit;
      width:0%;
      background:linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
      position: relative;
      cursor: pointer;
  }
 .progress-bar::after{
     position: absolute;
     content:"";
     height:12px;
     width:12px;
     border-radius:50%;
     background: inherit;
     top:50%;
     right:-5%;
     transform: translateY(-50%);
     opacity: 0;
     transition: .3s ease-in-out;
 }
 .progress-area:hover .progress-bar::after{
     opacity:1;
 }
 .progress-area .timer{
    margin-top:2px;
 }
 .timer span{
     font-size:13px;
     color: var(--lightblack);
 }
 .controls{
    margin:40px 0 5px 0;
 }
 .controls i{
     font-size:28px;
     user-select: none;
     background:linear-gradient(var(--pink) 0%, var(--violet) 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 .controls i:nth-child(2),
 .controls i:nth-child(4){
     font-size:43px;
 }
 .controls #prev{
     margin-right:-13px;
 }
 .controls #next{
    margin-left:-13px;
}
.controls .play-pause{
    height:54px;
    width:54px;
    background:linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px var(--pink);
    border-radius:50%;
    position:relative;
}

.play-pause::before{
    position: absolute;
    width:43px;
    height:43px;
    background:linear-gradient(var(--pink) 0%, var(--violet) 100%);
    content:"";
    border-radius:inherit;
}

.controls .play-pause i{
    height:43px;
    width:43px;
    background:inherit;
    border-radius:inherit;
    background-clip: text;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 43px;
    text-align: center;
}

.music-list{
    position: absolute;
    left:0;
    bottom:-55;
    opacity:0;
    visibility: hidden;
    pointer-events: none;
    background:var(--white);
    border-radius:15px;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
    width:100%;
    padding: 15px 30px;
    transition: .13s ease-in-out;
}
.music-list.show{
    bottom:0;
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}
.music-list .header .row{
    display:flex;
    align-items: center;
    font-size:19px;
    color: var(--lightblack);
}

.header .row i{
    cursor:default;
}
.header .row span{
    margin-left:5px;
}
.header #close{
    font-size:22px;
    color:var(--lightblack);
}
.music-list ul::-webkit-scrollbar{
    width:0;
}
.music-list ul{
    margin:10px 0;
    max-height:260px;
    overflow: auto;
}

.music-list ul li{
    list-style: none;
    border-bottom:1px solid #e5e5e5;
    padding-bottom:10px;
    color: var(--lightblack);
    margin-bottom:5px;
    cursor:pointer;
}
.music-list ul li:last-child{
    padding-bottom:0px;
    border-bottom:0;
}
.music-list ul li .row span{
    font-size:16px;
    font-weight:500;
}
.music-list ul li .row p{
    opacity: .7;
}